.login {

    height: 20em;
    width: 50%;
    position: fixed; /* or absolute */
    margin:0;
  top: 25%;
  left: 25%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 1em;
  color:white;

}

.login h1 {
    font-size: 5em;
    display: block;
    color: white;
}

.login input {
    /*background:url(bg-dot.jpg) repeat-x center bottom;*/
    background-color: rgba(0, 0, 0, 0.5);
    border:none;
    padding:2px 2px
    color:white;


}

#loginButton {
    background-color: rgba(0, 0,0, 0.2);
    color:black;

}


#loginButton:hover {
    background-color: rgba(255, 255,255, 0.5);
}

.login h3 {
    margin:0 0 0.5em 0 ;
}



.login input:focus {
    outline: none;
    background:url(bg-dot.jpg) repeat-x center bottom;
    border:none;
    padding:2px 2px
}

.agree {
    font-family: serif;
    margin:1em;;
}
