.register {
    height: inherit;
    width: 50%;
    position: fixed; /* or absolute */
    margin:0;
  top: 20%;
  left: 25%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 1em;
  color: white;

}

.register  input{
    outline: none;
    background-color: rgba(0, 0, 0, 0.5);
    border:none;
    padding:2px 2px
    color:white;
    display: block;
    margin: 2em auto 2em auto;
    height:2.5em;
}

::-webkit-input-placeholder { /* Chrome */
  color: grey;
}
