

.imageContainer {
    height: 15em;
    width: 15em;
    border: 1px solid orange;
    display: inline-block;
}

#userName {
    display: inline-block;
    margin-left: 17%;
}


.itemsRenting {
    height: 12em;
    width: 50%;
    display: inline-block;
    margin:0;
    text-align: center;
    font-family: 'Oswald', sans-serif;
}

.itemsRented {
    height: 12em;
    width: 15em;
    display: inline-block;
    margin:0;
     outline: none;
}


.editableContent {


    display: inline-block;


    align-content: center;
}


.editableContent label {
    display: inline-block;
    margin-left: 0.5em;
}

.editableContent table td {
    color:black
}

.editableContent table textarea {
    color:black;
    height:3em;
    margin: 0;
}

.editableContent input {
    display: inline-block;
    margin:0 0 1em 0.5em ;
    border: 0;
    border-bottom: 1px solid red;
    outline: 0;

}


#submitDataButton {
    margin:auto;
}

#contentTextArea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    width: 11.8em;
    margin: 0.5em;
}

.itemInfo {
    float: right;
    text-align: center;
    width: 50%;

}

ul {
    list-style: none;
}

#userProfileImage {
    height:20em;
    width:20em;
    display: inline-block;
    float:left;
    border-radius: 100%;
}

.userHeader {
    margin:3em;
}
