

.imageContainer {
    height: 15em;
    width: 15em;
    border: 1px solid orange;
    display: inline-block;
}

#userName {
    display: inline-block;
    margin-left: 17%;
}


.itemsRenting {
    height: 12em;
    width: 50%;
    display: inline-block;
    margin:0;
    text-align: center;
    font-family: 'Oswald', sans-serif;
}

.itemsRented {
    height: 12em;
    width: 15em;
    display: inline-block;
    margin:0;
     outline: none;
}


.editableContent {


    display: inline-block;


    align-content: center;
}


.editableContent label {
    display: inline-block;
    margin-left: 0.5em;
}

.editableContent table td {
    color:black
}

.editableContent table textarea {
    color:black;
    height:3em;
    margin: 0;
}

.editableContent input {
    display: inline-block;
    margin:0 0 1em 0.5em ;
    border: 0;
    border-bottom: 1px solid red;
    outline: 0;

}


#submitDataButton {
    margin:auto;
}

#contentTextArea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    width: 11.8em;
    margin: 0.5em;
}

.itemInfo {
    float: right;
    text-align: center;
    width: 50%;

}

ul {
    list-style: none;
}

#userProfileImage {
    height:15em;
    width:15em;
    display: inline-block;
    float:left;
    border-radius: 100%;
}

.userHeader {
    margin:3em;
}


.itemImagetd {
    height:2em;
    width:2em;
}






.modal {
display: none; /* Hidden by default */
position: fixed; /* Stay in place */
z-index: 1; /* Sit on top */
left: 0;
top: 0;
width: 100%; /* Full width */
height: 100%; /* Full height */
overflow: auto; /* Enable scroll if needed */
background-color: rgb(0,0,0); /* Fallback color */
background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
background-color: #fefefe;
margin: 10% auto; /* 15% from the top and centered */
padding: 20px;
border: 1px solid #888;
width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
color: #aaa;
float: right;
font-size: 28px;
font-weight: bold;
}

.close:hover,
.close:focus {
color: black;
text-decoration: none;
cursor: pointer;
}

.modalContent h1{
    text-align: center;
    margin:auto;
    color:black;
}

.modalContent input{
    text-align: center;
    color:black;
    display: block;
    margin: auto;
    margin-top: 1.5em;

}

.modalContent {
    text-align: center;
}
