<h1>Log In</h1>
<label for="email">Email</label>
<div class="credetialsLogin" ng-model='lc.credetialsLogin'>
    <label for="email">Email</label>
    <input type="email" name="email" placeholder="Enter your email" ng-model='lc.emailLogin'>
    <label for="password">Password</label>

    <input type="password" name="password" placeholder="Enter your password" ng-model='lc.passwordLogin'>
    <button type="button" name="button" ng-click='lc.login()'>Log In</button>
    <a href="http://localhost:7138/#!/register">Register</a>
</div>
