<div class="login" >


<h1>GarageShare</h1>
<div class="credetialsLogin" ng-model='credetialsLogin'>

    <input type="email" name="email" placeholder="Enter your email" ng-model='emailLogin'>

    <input type="password" name="password" placeholder="Enter your password" ng-model='passwordLogin'>
    <br>
    <input type="checkbox" name="checkbox" value="check" class="agree" />
    <label for="checkbox" class='agree'><a href="http://localhost:7138/#!/termsAndCondtions" target="_blank" id='termsLink'><span>I have read and agree to the Terms and Conditions and Privacy Policy</span></a> </label>

    <br>

    <button type="button" name="button" ng-click='login()' id='loginButton'>Log In</button>
    <a href="http://localhost:7138/#!/register" >Register</a>


</div>
</div>
