

<div class="row register">
    <h1 class='h1Header'>Register</h1>

        <input type="text" name="firstName" ng-model='firstNameRegister' class='registerInput' placeholder="First Name">

        <input type="text" name="lastName" ng-model='lastNameRegister' class='registerInput' placeholder="Last Name">

        <input type="number" name="zipcode" ng-model='zipcode' class='registerInput' placeholder="Zipcode">

        <input type="text" maxlength="2"  name="state" ng-model='state' class='registerInput' placeholder="State">

        <input type="text" name="city" ng-model='city' class='registerInput' placeholder="city">

        <input type="number" name="number" ng-model='phoneRegister' class='registerInput' placeholder="Phone Number">

        <input type="email" name="Email" ng-model='emailRegister' class='registerInput' placeholder="Email">

        <input type="password" name="Password" ng-model='passwordRegister' class='registerInput' placeholder="password">

        <input type="button" value="Upload Profile Image" ng-click="showPicker()" />




        <!-- <a href="http://localhost:7138/#!/login" ng-click='register()' >Log In</a> -->
        <button type="button" name="button" ng-click='register()' id='loginButton'>Log in</button>

</div>
