<div class="container userProfile" ng-init='revieceData()'>
    <div class="row">
        <div class="col-md-6">
            <img src="{{userImage}}" alt=""  id='userProfileImage'>
        </div>
        <div class="col-md-6">
            <h1>Welcome</h1>
        </div>
    </div>


        <table class="table table-condensed"  ng-init='getItems()'>

            <tr >
                <th>Item</th>
                <th></th>
                <th>per-day</th>
                <th>per-week</th>
                <th>per-month</th>
                <th>Email</th>
                <th>Phone</th>
                <th>description</th>
            </tr>
            <tr  ng-repeat='items in myItems'>
                <td >{{items.itemName}}</td>
                <td><a href="{{items.image}}"><img src="{{items.image}}" alt="" class='itemImagetd'></a></td>
                <td >{{items.rentDay | currency}}</td>
                <td>{{items.rentWeek | currency}}</td>
                <td>{{items.rentMonth | currency}}</td>
                <td>{{items.email}}</td>
                <td ng-click='sendPhoneMessage()'>{{items.phone}}</td>
                <td>{{items.description}}</td>
            </tr>

        </table>











</div>
