<div class="container"  ng-init='getBodyStyle()'>
    <h1>Results for: {{ItemSearched}}</h1>
    <table class="table table-condensed"  ng-init='userSearch()'>

        <tr >
            <th>item</th>
            <th>description</th>
            <th>State</th>
            <th>City</th>
            <th>Email</th>


        </tr>
        <tr ng-repeat='items in match'>
            <td ng-click='goToUserPageNoMatch($index)'>{{items.itemName}}</td>
            <td >{{items.description}}</td>
            <td >{{items.state}}</td>
            <td>{{items.city}}</td>
            <td>{{items.email}}</td>


        </tr>

    </table>


    <h1>More Results for: {{ItemSearched}}</h1>
    <table class="table table-condensed"  >

        <tr >
            <th>item</th>
            <th>description</th>
            <th>State</th>
            <th>City</th>

        </tr>
        <tr ng-repeat='items in noMatch'>
            <td ng-click='goToUserPageNoMatch($index)'>{{items.itemName}}</td>
            <td >{{items.description}}</td>
            <td >{{items.state}}</td>
            <td>{{items.city}}</td>


        </tr>

    </table>

</div>
