<div class="userProfile" ng-init='userInfo()'>

    <div class="row">
        <div class="col-md-2 imageContainer">
            <p>Image goes here</p>
        </div>
        <h1 id='userName'>Welcome {{name}} </h1>
    </div>

        <div class="itemsRenting" ng-init='getItems()'>
            <h3>Items Renting</h3>
            <ul>
                <li ng-repeat='items in myItems'>{{items.itemName}}</li>
            </ul>
        </div>
        <div class="editableContent" ng-if='popupDiv'>
            <label for="itemName">Item Name</label>
            <input type="text" name="itemName"  ng-model='uc.itemName'>

            <label for="rentDay">Rent per Day</label>
            <input type="number" name="rentDay" value="" ng-model='uc.rentDay'>

            <label for="rentWeek">Rent per Week</label>
            <input type="number" name="rentWeek" value="" ng-model='uc.rentWeek'>

            <label for="rentMonth">Rent per Month</label>
            <input type="number" name="rentMonth" value="" ng-model='uc.rentMonth'>

            <label for="email">Email</label>
            <input type="text" name="email" value="" ng-model='uc.emailContact'>

            <label for="phone">Phone</label>
            <input type="Number" name="phone" value="" ng-model='uc.phoneContact'>

            <label for="itemDescription">Description</label>
            <textarea name="itemDescription" rows="8" cols="80" id='contentTextArea' ng-model='uc.itemDescription'></textarea>

        </div>
        <input type="submit" name="button" ng-model='addButton' ng-click='addNewItem()' value ='Add New' ng-show='changeButton'/>
        <input type="submit" name="button" ng-model='submitButton' ng-click='submitNewItem()' value ='Submit'  ng-hide='changeButton'/>






</div>
